<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="img/kglogo.jpg"></img>
          <img src="img/ggbbwebphoto.jpeg" style="width:80%;height:80%;"></img><br/><br>
          <img src="img/contact.jpg"></img><br>
          coming soon, in the meantime please contact us here<br><br>
          <a href="tel:{{ site.phone }}">{{ site.phone }}</a> |
          <a href="mailto:{{ site.email }}">{{ site.email }}</a> | 
          <a href="{{ site.social.url }}"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>
